pipeline.asl.json
{
    "StartAt": "Build",
    "States": {
        "Build": {
            "Type": "Task",
            "Resource": "arn:aws:states:::codebuild:startBuild.sync",
            "Parameters": {
                "ProjectName": "${BuildProject}",
                "SourceVersion.$": "$.head_commit.id"
            },
            "ResultPath": "$.BuildOutput",
            "Next": "On Default Branch?"
        },
        "On Default Branch?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.on_default_branch",
                    "BooleanEquals": true,
                    "Next": "Check if Superseded"
                },
                {
                    "Variable": "$.on_default_branch",
                    "BooleanEquals": false,
                    "Next": "Success"
                }
            ]
        },
        "Check if Superseded": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
            "ResultPath": "$.SupersededOutput",
            "Next": "Was Superseded?",
            "Parameters": {
                "QueueUrl": "${SupersessionQueue}",
                "MessageGroupId": "${GithubRepo}",
                "MessageBody": {
                    "Pipeline": "${GithubRepo}",
                    "CommitTimestamp.$": "$.head_commit.timestamp",
                    "Token.$": "$$.Task.Token"
                }
            }
        },
        "Was Superseded?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.SupersededOutput.Superseded",
                    "BooleanEquals": true,
                    "Next": "Success"
                },
                {
                    "Variable": "$.SupersededOutput.Superseded",
                    "BooleanEquals": false,
                    "Next": "Deploy to Shared"
                }
            ]
        },
        "Deploy to Shared": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
            "Parameters": {
                "QueueUrl": "${DeploymentQueue}",
                "MessageGroupId": "${GithubRepo}",
                "MessageBody": {
                    "StackName": "${GithubRepo}",
                    "ZipLocation.$": "$.BuildOutput.Build.Artifacts.Location",
                    "TemplateFileName": "ResourceSecurity.template.yml",
                    "RoleArn": "${SharedRoleArn}",
                    "Token.$": "$$.Task.Token",
                    "EnvironmentName": "shared",
                    "CommitInfo": {
                        "GithubOwner": "${GithubOwner}",
                        "GithubRepository": "${GithubRepo}",
                        "GithubRef.$": "$.head_commit.id"
                    }
                }
            },
            "Next": "Success"
        },
        "Success": {
            "Type": "Succeed"
        }
    }
}